<div class="p-mt-6 p-grid">
  <div class="p-col-6 p-offset-3">
    <p-table [value]="favStations" dataKey="station">
      <ng-template pTemplate="header">
        <tr>
          <th style="width: 4rem"></th>
          <th pSortableColumn="station"> Favorite Stations
            <p-sortIcon field="station"></p-sortIcon>
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-stations>

        <tr>
          <td>
            <span
              pButton
              pRipple
              class="p-button-rounded p-button-help heartIcon"
              icon="pi pi-heart">
            </span>
          </td>
          <td>
            <button 
              pButton
              routerLink="/stationDetail/{{stations[0].stop.id}}"
              routerLinkActive="active"
              type="button"
              label={{stations[0].stop.name}}
              class="p-button-link">
            </button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
